.stem{
    background-color: black;
    width: 30px;
    height: 80px;
    margin: auto;

}

.traffic-light-body{
    background-color: black;
    width: 100px;
    height: 280px;
    margin: auto;
    border-radius: 15px 15px;
    padding: 15px 10px;
}

.red{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.yellow{
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 5px 0;
}

.green{
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.selected{
    
  box-shadow:
    0 0 30px 30px hsl(56, 77%, 63%),  
    0 0 40px 40px #d4ac3d; 
}